<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Web app code editor for real time development previews that integrates autocompletion for html, css, javascript"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>[CodeRun] official website</title>
  </head>
  <body>
    <header>
      <h1>[CodeRun]</h1>
    </header>
    <div class="content">
      <div class="secondHalf">
        <div class="editorContainer">
          <div class="editor" id="editor1"></div>
          <div class="editor" id="editor2"></div>
        </div>
      </div>
      <div class="firstHalf">
        <div id="fakebrowser" title="Preview">
          <div class="fkb-header">
            <div class="fkb-button" title="Close"></div>
            <div class="fkb-button maximize" title="Maximize"></div>
            <div class="fkb-button hide" title="Hide"></div>
            <div class="fkb-title-container" id="fbTitle">Fakebrowser</div>
          </div>
          <iframe title="Fakebrowser" class="fkb-view" id="frame"></iframe>
          <div class="fkb-footer"></div>
        </div>
      </div>
    </div>
    <footer>
      Made with <img src="/img/heart.png" alt="â¤" /> by
      <a target="_blank" rel="noopener" href="http://cosminaruxandei.com"
        >Cosmin Aruxandei</a
      >
      in 2019
    </footer>
    <!-- CODEMIRROR CONFIGURATIONS & IMPORT -->
    <script src="/cm/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/cm/lib/codemirror.css" />
    <link rel="stylesheet" href="/cm/theme/material-darker.css" />
    <script src="/cm/mode/xml/xml.js"></script>
    <script src="/cm/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/cm/mode/css/css.js"></script>
    <script src="/cm/addon/edit/matchbrackets.js"></script>
    <script src="/cm/mode/javascript/javascript.js"></script>
    <script>
      var editor1 = CodeMirror(document.querySelector("#editor1"), {
        value:
          "<html>\n\t<head>\n\t\t<title>Some title</title>\n\t</head>\n</html>",
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        autofocus: true,
        theme: "material-darker"
      });
      var editor2 = CodeMirror(document.querySelector("#editor2"), {
        value:
          "// Your JavaScript code here...\nfunction func(){ return 100; }",
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        theme: "material-darker"
      });
      var content =
        document.querySelector(".CodeMirror").CodeMirror.getValue() +
        "\n<script>" +
        document.querySelectorAll(".CodeMirror")[1].CodeMirror.getValue() +
        "<\/script>";
      console.log(content);
      editor1.on("change", function(cm, change) {
        console.log(cm.getValue());
      });
      editor2.on("change", function(cm, change) {
        console.log(cm.getValue());
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    <style>
      .CodeMirror {
        height: 100% !important;
        font-size: 10pt;
      }
    </style>
  </body>
</html>
