<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Web app code editor for real time development previews that integrates autocompletion for html, css, javascript"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>[CodeRun] official website</title>
  </head>
  <body>
    <header>
      <h1>[CodeRun]</h1>
    </header>
    <div class="content">
      <div class="secondHalf">
        <div class="editorContainer">
          <div class="editor" id="editor1"></div>
          <div class="editor" id="editor2"></div>
        </div>
      </div>
      <div class="firstHalf">
        <div id="fakebrowser" title="Preview">
          <div class="fkb-header">
            <div class="fkb-button" title="Close"></div>
            <div class="fkb-button maximize" title="Maximize"></div>
            <div class="fkb-button hide" title="Hide"></div>
            <div class="fkb-title-container">Fakebrowser</div>
          </div>
          <iframe class="fkb-view"></iframe>
          <div class="fkb-footer"></div>
        </div>
      </div>
    </div>
    <footer>
      Made with <img src="/img/heart.png" alt="â¤" /> by
      <a target="_blank" href="http://cosminaruxandei.com">Cosmin Aruxandei</a>
      in 2019
    </footer>
    <script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
      var editor1 = ace.edit("editor1");
      var editor2 = ace.edit("editor2");
      editor1.setTheme("ace/theme/monokai");
      editor1.session.setMode("ace/mode/html");
      editor1.insert(
        "<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Some basic title</title>\n\t</head>\n</html>"
      );
      editor2.setTheme("ace/theme/monokai");
      editor2.session.setMode("ace/mode/javascript");
      editor2.insert("// your javascript code here...\n");
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
