<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Web app code editor for real time development previews that integrates autocompletion for html, css, javascript"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>[CodeRun] official website</title>
  </head>
  <body>
    <header>
      <h1>[CodeRun]</h1>
    </header>
    <div class="content">
      <div class="secondHalf">
        <div class="editorContainer">
          <div class="editor" id="editor1"></div>
          <div class="editor" id="editor2"></div>
        </div>
      </div>
      <div class="firstHalf">
        <div id="fakebrowser" title="Preview">
          <div class="fkb-header">
            <div class="fkb-button" title="Close"></div>
            <div class="fkb-button maximize" title="Maximize"></div>
            <div class="fkb-button hide" title="Hide"></div>
            <div class="fkb-title-container" id="fbTitle">Fakebrowser</div>
          </div>
          <iframe title="Fakebrowser" class="fkb-view" id="frame"></iframe>
          <div class="fkb-footer"></div>
        </div>
      </div>
    </div>
    <footer>
      Made with <img src="/img/heart.png" alt="â¤" /> by
      <a target="_blank" rel="noopener" href="http://cosminaruxandei.com"
        >Cosmin Aruxandei</a
      >
      in 2019
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var projectId = window.location.href.split("pid=")[1];
      var socket = io.connect("/" + projectId);
    </script>
    <!-- CODEMIRROR CONFIGURATIONS & IMPORT -->
    <script src="/cm/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/cm/lib/codemirror.css" />
    <link rel="stylesheet" href="/cm/theme/material-darker.css" />
    <script src="/cm/mode/xml/xml.js"></script>
    <script src="/cm/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/cm/mode/css/css.js"></script>
    <script src="/cm/addon/edit/matchbrackets.js"></script>
    <script src="/cm/mode/javascript/javascript.js"></script>
    <script>
      var frame = document.getElementById("frame");
      var fbTitle = document.getElementById("fbTitle");
      var editor1 = CodeMirror(document.querySelector("#editor1"), {
        value:
          "<html>\n\t<head>\n\t\t<title>Some title</title>\n\t</head>\n</html>",
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        autofocus: true,
        theme: "material-darker"
      });
      var editor2 = CodeMirror(document.querySelector("#editor2"), {
        value:
          "// Your JavaScript code here...\nfunction func(){ return 100; }",
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        theme: "material-darker"
      });
      var store = {
        editor1:
          "<html>\n                <head>\n                    <title>Some title</title>\n                </head>\n            </html>",
        editor2:
          "// Your JavaScript code here...\n                function func(){ return 100; }"
      };
      var content =
        document.querySelector(".CodeMirror").CodeMirror.getValue() +
        "\n<script>" +
        document.querySelectorAll(".CodeMirror")[1].CodeMirror.getValue() +
        "<\/script>";
        
      var showBlob = function(){
        var blob = new Blob([store.editor1+"<script>"+store.editor2+"<\/script>"], {type: "text/html"});
        frame.src = URL.createObjectURL(blob);
        fbTitle.innerHTML = "Fakebrowser";
        setTimeout(function(){
          if(frame.contentDocument.title)
            fbTitle.innerHTML = frame.contentDocument.title;
        }, 0);
      }
      editor1.on("keyup", function(cm, change) {
        store.editor1 = cm.getValue();
        socket.send(projectId, store);
        showBlob();
      });
      editor2.on("keyup", function(cm, change) {
        store.editor2 = cm.getValue();
        socket.send(projectId, store);
        showBlob();
      });
      socket.on("sync", function(msg) {
        var resp = JSON.parse(msg);
        if (resp) {
          if (resp.editor1 !== store.editor1) {
            store.editor1 = resp.editor1;
            editor1.setValue(store.editor1);
          }
          if (resp.editor2 !== store.editor2) {
            store.editor2 = resp.editor2;
            editor2.setValue(store.editor2);
          }
          // create blob, update iframe.
          showBlob();
        }
      });
    </script>
    <style>
      .CodeMirror {
        height: 100% !important;
        font-size: 10pt;
      }
    </style>
  </body>
</html>
