<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Web app code editor for real time development previews that integrates autocompletion for html, css, javascript"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>[CodeRun] official website</title>
  </head>
  <body>
    <header>
      <h1>[CodeRun]</h1>
    </header>
    <div class="content">
      <div class="secondHalf">
        <textarea class="editor"></textarea>
        <textarea class="editor"></textarea>
      </div>
      <div class="firstHalf">
        <div id="fakebrowser" title="Preview">
          <div class="fkb-header">
            <div class="fkb-button" title="Close"></div>
            <div class="fkb-button maximize" title="Maximize"></div>
            <div class="fkb-button hide" title="Hide"></div>
            <div class="fkb-title-container">Fakebrowser</div>
          </div>
          <iframe class="fkb-view"></iframe>
          <div class="fkb-footer"></div>
        </div>
      </div>
    </div>
    <footer>
      Made by Cosmin Aruxandei with
      <img src="/img/heart.png" alt="â¤" /> in 2019
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
