<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Web app code editor for real time development previews that integrates autocompletion for html, css, javascript"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>[CodeRun] official website</title>
  </head>
  <body>
    <header>
      <h1>[CodeRun]</h1>
    </header>
    <div class="content">
      <div class="secondHalf">
        <div class="editorContainer">
          <div class="editor" id="editor1"></div>
          <div class="editor" id="editor2"></div>
        </div>
      </div>
      <div class="firstHalf">
        <div id="fakebrowser" title="Preview">
          <div class="fkb-header">
            <div class="fkb-button" title="Close"></div>
            <div class="fkb-button maximize" title="Maximize"></div>
            <div class="fkb-button hide" title="Hide"></div>
            <div class="fkb-title-container" id="fbTitle">Fakebrowser</div>
          </div>
          <iframe class="fkb-view" id="frame"></iframe>
          <div class="fkb-footer"></div>
        </div>
      </div>
    </div>
    <footer>
      Made with <img src="/img/heart.png" alt="â¤" /> by
      <a target="_blank" href="http://cosminaruxandei.com">Cosmin Aruxandei</a>
      in 2019
    </footer>
    <!-- ACE CONFIGURATIONS & IMPORT -->
    <script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ace/ext-language_tools.js"></script>
    <script>
      ace.require("ace/ext/language_tools");
      var editor1 = ace.edit("editor1");
      var editor2 = ace.edit("editor2");
      // editor 1
      editor1.setTheme("ace/theme/vibrant_ink");
      editor1.session.setMode("ace/mode/html");
      editor1.getSession().setUseWrapMode(true);
      editor1.setOptions({
        enableBasicAutocompletion: true
      });
      editor1.insert(
        `<!DOCTYPE html>
<html>
  <head>
    <title>Some basic title</title>
  </head>
  <body>
      <header></header>
      <div class="content">Sample text here</div>
      <footer></footer>
  </body>
</html>`
      );
      // editor 2
      editor2.setTheme("ace/theme/vibrant_ink");
      editor2.session.setMode("ace/mode/javascript");
      editor2.getSession().setUseWrapMode(true);
      editor2.insert("// your javascript code here...\n");
      editor2.setOptions({
        enableBasicAutocompletion: true
      });
      var update = function() {
        setTimeout(function() {
          var code =
            (editor1.getValue() || "") +
            "<script>" +
            (editor2.getValue() || "") +
            "<\/script>";
          var blob = new Blob([code], { type: "text/html" });
          var url = URL.createObjectURL(blob);
          var frame = document.querySelector("#frame");
          frame.src = url;
          var title = frame.contentDocument.title || "Fakebrowser";
          document.querySelector("#fbTitle").innerHTML = title;
        }, 300);
      };
      editor1.getSession().on("change", function() {
        update();
      });
      editor2.getSession().on("change", function() {
        update();
      });
      update();
    </script>
    <script></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
