* {
  color: white;
  font-family: sans-serif;
}
body {
  background-color: #ececec;
}
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  max-width: 1920px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 10px;
}
header h1 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
  background-color: black;
  height: 30px;
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
footer img {
  height: 20px;
  vertical-align: middle;
}
.content {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  /* background-color: purple; */
  /* background-color: black; */
  position: fixed;
  z-index: -1;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 50px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.firstHalf,
.secondHalf {
  resize: horizontal;
  /* background-color: darkred; */
  height: 100%;
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding: 20px;
}
#fakebrowser {
  border-radius: 6px;
  background-color: #3c3b43;
  height: 100%;
  width: 100%;
  border-width: 0;
  resize: both;
  max-width: calc(100% + 20px);
  max-height: 100%;
  min-width: 180px;
  min-height: 320px;
  overflow: hidden;
  box-shadow: 0px 0 40px 0px black;
}
#fakebrowser iframe {
  width: 100%;
  border: 0;
  height: calc(100% - 40px);
  overflow: auto;
  position: relative;
  top: 0;
  resize: none;
  background-color: white;
}
#fakebrowser .fkb-header {
  height: 30px;
  background-color: #3d3b3b;
}
#fakebrowser .fkb-header .fkb-button {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 2.5px;
  background-color: #ff3141;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  cursor: pointer;
}
#fakebrowser .fkb-header .fkb-button.maximize {
  background-color: #e9c300;
}
#fakebrowser .fkb-header .fkb-button.hide {
  background-color: #00ce29;
}
#fakebrowser .fkb-header .fkb-title-container {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
  width: calc(100% - 100px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 18px;
  vertical-align: bottom;
  font-size: 12pt;
}
.secondHalf .editorContainer {
  border-radius: 6px;
  background-color: #3c3b43;
  height: 100%;
  width: 100%;
  border-width: 0;
  max-width: calc(200% + 40px);
  max-height: 100%;
  min-width: 180px;
  min-height: 320px;
  overflow: hidden;
  box-shadow: 0px 0 40px 0px black;
}
.secondHalf .editorContainer {
  z-index: 0;
}
.secondHalf .editor {
  display: block;
  width: 100%;
  resize: vertical;
  /* border-radius: 6px; */
  height: 100%;
  max-height: 50%;
}
